.fondo{
    background-color: rgb(0, 0, 0);
}
.navegador{

    position: left;
    
  
    background-color: rgb(31, 30, 30);
    color: whitesmoke;
    height: 50px;
}
.fondo1{

    background:  linear-gradient(90deg, rgba(38,0,65,1) 0%, rgba(87,19,143,0.9023984593837535) 75%, rgba(192,0,255,1) 100%);

}
.fondo2{
 
    background:  linear-gradient(90deg, rgba(38,0,65,1) 0%, rgba(87,19,143,0.9023984593837535) 75%, rgba(192,0,255,1) 100%);


}
.perfil{
    height: min-content;
}

.encabezado{
    background: rgb(38,0,65);
background: linear-gradient(90deg, rgba(38,0,65,1) 0%, rgba(87,19,143,0.9023984593837535) 75%, rgba(192,0,255,1) 100%);
color: azure;
height: 300px;
}
.textoSobreMi{
    text-align: left;
    color: whitesmoke;
    font-size:1em;
    line-height:1.5em;
    text-align: left;
  }
.textoHabilidades{
    text-align: left;
    color: whitesmoke;
    font-size:1em;
    line-height:1.5em;
    text-align: left;
  }
.trabajos{
    background: rgb(65, 0, 16);
    background: linear-gradient(90deg, rgb(65, 0, 20) 0%, rgba(143, 19, 81, 0.902) 75%, rgb(150, 0, 25) 100%);
    color: whitesmoke;
}

.boton{

    
border-color:  black;
background: rgb(26, 36, 122);
background: linear-gradient(90deg, rgb(17, 11, 77) 0%, rgb(20, 46, 94) 50%, rgb(14, 89, 99) 100%);
}

.card{

    background: rgb(65, 0, 16);
    background: linear-gradient(90deg, rgb(65, 0, 20) 0%, rgba(143, 19, 81, 0.902) 75%, rgb(150, 0, 25) 100%);
    color: azure;
width: 230px;
height: 350px;
border:1px solid black ;
padding: 5px;
box-sizing: border-box;
}

.formulario{

    background: rgb(65, 0, 16);
    background: linear-gradient(90deg, rgb(65, 0, 20) 0%, rgba(143, 19, 81, 0.902) 75%, rgb(150, 0, 25) 100%);
    color: azure;
}
.titulo{
    color: whitesmoke;
    
}